@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
}


.leftNav{
    float: left;
    padding: 20px;
    margin: 0px;
    background: rgb(15,61,97);
    background: linear-gradient(0deg, rgba(26,171,172,1) 0%, rgba(15,61,97,1) 100%);
    min-width: 2vw;
    color: white;
    text-align: left;
    z-index: 3;
    position: fixed;
}

.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav a {
    padding-top: 30px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}

.eduSpaceLogo{
   width: 120px;
   z-index: 10;
   padding-top: 150px;
}


.hamburger{
    padding-top: 10px;
    padding-bottom:50px;
    font-size: 23px;
}

.hamburger :hover{
    cursor: pointer;
}

.rightSide{
    position: relative;
    z-index: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.eventRS{
    background-image: url("images/eventsBG.jpeg");
}


.topHalf{
    position: absolute;
    z-index: 1;
    margin: 0;
    min-height: 500px;
    width: 100%;
    transform: translateY(-130px) skewY(8deg);
    transition: transform 1s ease;
    background-color: rgba(15, 36, 77, 0.7);
}

.topHalf:hover{
    transform: translateY(-130px) skewY(3deg);;
} 

/*
.topText{
    position: absolute;
    z-index: 2;
    padding: 20px;
    color: white;
    text-align: center;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
*/

#searchEvents, #searchbarMy{
    background-image: url('images/calendar.png');
    background-size: 20px;
    background-position: 10px 8px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    /*padding: 12px 20px 12px 40px;*/ 
    padding: 12px 0px 12px 40px;
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#searchCourses, #searchCust{
    background-image: url('images/mag.png');
    background-size: 20px;
    background-position: 10px 8px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    /*padding: 12px 20px 12px 40px;*/ 
    padding: 12px 0px 12px 40px;
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#suggestedEvents, #suggestedCourses, #suggestPolyCust, #suggestedMyPoly {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #suggestedEvents li a, #suggestedCourses li a, #suggestPolyCust li a, #suggestedMyPoly li a {
    width: 100%;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    text-align: left;
  }
  
  #suggestedEvents li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
  #suggestedCourses li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
  #suggestPolyCust li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  #suggestedMyPoly li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  #searchMenu, #courseSearchMenu, #custListSearch, #searchMy{
      width: 80%;
      text-align: center;
      display: flex;
      flex-direction: column;
      /*align-items: center;*/
  }

  .eDates {
      background-image: url("images/calendar.png");
      background-repeat: no-repeat;
      background-size: 20vh;
      height: 21vh;
      width: 20vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
  }
  .myeDates {
    background-image: url("images/calendar.png");
    background-repeat: no-repeat;
    background-size: 20vh;
    height: 21vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

  .eDay{
      padding:0px;
      margin:0px;
      font-size: 60px;
      padding-top: 2vh;
  }

  .eMonth{
      padding: 0px;
      margin: 0px;
  }

  .eventDis{
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 5px;
      width: 80%;
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .eventInfo{
      background-color: white;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      
  }

  .myeventDis{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
  }
  .myeventInfo{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }

  .sDate, .sHeart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin:0px;
    margin-right: 20px;
    padding:0px;
  }
  
  .heart{
    width: 24px;
    height: 24px;
    padding: 10px;
    position: relative;
    top: -20px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 15%;
    fill: rgb(228, 185, 182);
  }

  .heart :hover{
    fill: rgb(209, 116, 109);
}

.eLiked{
    fill: rgb(209, 116, 109);
}

  .eventsPage{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 3vw;
  }

  .homeText{
      padding: 4px;
      margin: 0px;
      position: absolute;
      text-align: center;
  }

  .homeTitle{
      font-size: 200px;
      z-index: 4;
      color: rgb(254,213,193);
  }

  .homeDescription{
      color: rgb(15, 36, 77);
      z-index: 4;
      top: 500px;

  }

  .homeOverlay{
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.8));
      z-index: 0;
  }

  .homeCenter{
      display: flex;
      justify-content: center;
  }

  .eTitle{
      padding:2px;
      margin: 0px;
  }

  .eDesc{
      padding:0px;
      margin:0px;
  }

  .xsDate{
      color: gray;
  }

  .courseDis {
      background-color: white;
      width: 80%;
      margin-top: 30px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 4fr;
  }

  .cName, .cDesc{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 20px;
  }

  .cDesc{
      text-align: left;
  }

  .cStatus {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 20px;
  }

  .cNew{
      color: red;
  }

.polyLogo{
    height: 200px;
    width: 200px;
}
.polyImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa-times{
    font-size: 30px;
}
.cross{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.crossmy{
    display: flex;
    justify-content: flex-end;
}