@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
}


.leftNav{
    float: left;
    padding: 20px;
    margin: 0px;
    background: rgb(15,61,97);
    background: linear-gradient(0deg, rgba(26,171,172,1) 0%, rgba(15,61,97,1) 100%);
    min-width: 2vw;
    color: white;
    text-align: left;
}

.nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav a{
    padding-top: 30px;
    font-size: 23px;
    text-decoration: none;
    color: white;
}

.eduSpaceLogo{
   width: 120px;
   z-index: 10;
   padding-top: 150px;
}


.hamburger{
    padding-top: 10px;
    padding-bottom:50px;
    font-size: 23px;
}


.rightSide{
    position: relative;
    z-index: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.topHalf{
    position: absolute;
    z-index: 1;
    margin: 0;
    min-height: 500px;
    width: 100%;
    transform: translateY(-130px) skewY(8deg);
    transition: transform 1s ease;
    background-color: rgb(15, 36, 77, 0.7);
}

.topHalf:hover{
    transform: translateY(-130px) skewY(3deg);;
} 

.topText{
    position: absolute;
    z-index: 2;
    padding: 20px;
    color: white;
}

#searchEvents{
    background-image: url('images/calendar.png');
    background-size: 20px;
    background-position: 10px 8px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    /*padding: 12px 20px 12px 40px;*/ 
    padding: 12px 0px 12px 40px;
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#suggestedEvents {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #suggestedEvents li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    text-align: left;
  }
  
  #suggestedEvents li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .searchMenu{
      width: 80%;
      text-align: center;
      display: flex;
      flex-direction: column;
      /*align-items: center;*/
  }

  .eDates {
      background-image: url("images/calendar.png");
      background-repeat: no-repeat;
      background-size: 20vh;
      height: 21vh;
      width: 20vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
  }

  .eDay{
      padding:0px;
      margin:0px;
      font-size: 60px;
      padding-top: 2vh;
  }

  .eMonth{
      padding: 0px;
      margin: 0px;
  }

  .eventDis{
      width: 80%;
      height: 180px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 2vw;
  }

  .eventInfo {
      min-width: 50vw;
      background-color: white;
      justify-self: flex-end;
  }

  .eventsPage{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 3vw;
  }